/* ***tablette*** */

@media screen and (min-width: 731px) and (max-width: 1024px) {

    .corps{
    flex-direction: column-reverse;
    }

    /*FILTRES*/

    .filtres{
        flex-direction: column;
        margin: 0 0 1.875rem 1.25rem;
        }
          
        .filtres p{
          padding-right: 50px;
        }
          
        .titre-filtre h3{
          margin: 0 0 0.75rem;
        }
          
        .bouton-filtre{
          margin: 0 0.688rem 0.813rem 0;
        }
          
        .bouton-filtre .filtre-eco{
          width: 10%;
        }
          
        .bouton-filtre .filtre-fam{
          width: 8%;
        }
          
        .filtrepicto{
          flex-direction: column;
          align-items: initial;
        }


      /* TREND */
    #trend{
        width: 100%;
        margin: 0px;
      }
      
      #trend .container-box{
        flex-direction: initial;
        width: 100%;
        padding: 0px;
      }
      #trend .trendbox{
        width: 50%;
        margin: 10px 10px 10px 10px;
      }
      .trendtitle{
        padding: 0em 1em 1em 1em;
      }

    .text-menu h3{
      font-size: 10px;
    } 

    .text-menu p{
      top: 30px;
    }



    /*HEBERGEMENT*/
      
      .hebergement{
        width: 100%;
        margin-top: 2em;
        padding: 0em;
      }
      
      #maRecherche{
        height: 42px;
        }
      
        .content-box{
        display: block;
        } 
        
        .first-ligne, .second-ligne{
        flex-direction:initial;
        width: 100%;
        } 
      
        .content-box .box{
        margin: 1em 1em 0em ;
        }

      .star-trend i{
        padding-bottom: 50px;
      }  
      
       /* ******* activity ******** */
      
      .first-column{
        width: 100%;
        margin-right: 0em;
        margin-left: 0px;
      }
      
      .first-column .box-activ1{
        margin-bottom: 0px;
      }
      
      .second-column .box-activ1{
        margin-right: 0px;
      }
      
      .second-column{
        width: 100%;
        margin-left: 0px;
      }
      
      .flex-activity img{
        height: 200px;
      }
      
      .ligne-activ{
        flex-direction: column;
        width: 100%;
        margin-top: 2em;
        padding-right: 1em;
        padding-left: 1em;
      }
      
      .flex-activity .box-activ1 img{
        height: 200px;
      }
      
      .flex-activity .box-activ2 img{
        height: 200px;
      }
      
      .box-activ2{
        margin: 0px;
        margin-top: 2em;
        
      }
      .box-activ1{
        margin-top: 2em;
        
      }
      
      .bigbox{
        width: 100%;
      }
    }